.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
}

.title {
  width: 600px;
}

.button {
  border: none;
  height: 65px;
  width: 350px;
  border-radius: 4px;
  background-color: #FFFFFF00;
  color: #FFF;
  font-weight: bold;
  background-color: #1E90FF;
  cursor: pointer;
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  transition: 300ms;
  margin-bottom: 15px;
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  box-shadow: none;
  background-color: #1E90FF;
}

.arena {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dado-image {
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.btnJogarNovamente {
  background-color: #109010;
}

.btnJogarNovamente:disabled {
  background-color: #109010;
}